.toolbar__item > * {
  pointer-events: none;
  margin:0px;
  font-size: 12px;
}
img{
  background-color: none;
}
body {
  overflow: hidden;
  background-color: grey;
  user-select: none;
  cursor: url(assets/cursor.png), pointer;
  color: white;
}

#editor_container {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
}

#editor_container_flex{
    display: flex;
}
#sidebar {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar_window {
  display:none;
}

.active__sidebar__window{
  background-color: rgb(37, 38, 39);
  display: block!important;
  height:100vh
}

#submit_button {
  height: fit-content;
}

#canvas {
  transform-origin: 0 0;
  transform: scale(1) translate(0, 0);
  background-color: white;
}

#sidebar .txt2img__result {
  width: 100%;
  height: auto;
}

#canvas_container {
  flex-grow: 1;
  overflow: hidden;
}

.toolbar__item {
  padding: 10px;
  text-align: center;
}



.icon{
  background-color: none;
}
#toolbar {

  display: flex;
  height: 55px;
  background-color: rgb(24, 25, 27);
}

.selected__layer {
  background-color: grey;
}

.active {
  background-color: rgb(13, 153, 255);
}

#toolbar div:hover {
  background-color: grey;
}

#tshirt {
  display: none;
}

#sidebar_selection {
  background-color: rgb(24, 25, 27);
}

#sidebar_selection_background {
  background-color: rgb(37, 38, 39);
}
.sidebar__selection > * {
  pointer-events: none;
}
.sidebar__selection {
  padding: 10px;
  background-color: rgb(24, 25, 27);
  text-align: center;
  font-size: 14px;
}

.sidebar__selection > * {
  margin: 0px;
}

.sidebar__selection:hover {
  color:rgb(13, 153, 200);
}

.sidebar__window {
  display: none;
}

#toolbar_collapse_button{
 
 justify-content: center;
 position:fixed; 
 right:0;
 margin:12px 15px;
 padding: 2px 5px  0px;
 border:2px solid white;
 border-radius: 50%;
 display: none;
}

#toolbar_collapse_button:hover{
  border:2px solid rgb(13, 153, 255);
}

#toolbar_collapse_button > * {
  pointer-events: none;
  margin:0px;  
}